.header form {
    margin-right: 15px;
    flex-basis: 40%;
}

.header form .input_header {
    width: calc(100% - 50px);
    border: none;
    padding: 10px 20px;
    border-radius: 12px 0 0 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header form .input_header:focus {
    outline: none;
}

.header form button {
    background-color: red;
    border-radius: 0 12px 12px 0;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: 50px;
}

.header .collapse ul li {
    font-size: 18px;
    display: inline;
    margin-right: 20px;
}

.header .collapse ul li a {
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    padding: 10px 5px;
    border-radius: 8px;
}

.header .collapse ul li a:hover {
    background-color: rgba(128, 128, 128, 0.386);
}



@media screen and (max-width: 992px) {
    header .container-fluid {
        justify-content: flex-start !important;
        gap: 20px;
    }
}